*~
*.swp
node_modules
/packages/waku/README.md
/packages/create-waku/template
/packages/create-waku/dist
/packages/website/dist
.env
.devcontainer
.vscode
*.tsbuildinfo
.cache
.nvmrc
.node-version
pages.gen.ts
test-results
